.button_group {
  align-items: center;
  background: linear-gradient(#eee, #bbb);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: #000;
  display: inline-flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.75;
  margin: 0 10px;
  min-width: 64px;
  padding: 8px 22px;
  position: relative;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
}

.button_group:hover,
.button_group:focus {
  outline: 0;
  text-decoration: none;
}

.button_group:focus {
  border: 2px solid #1979a9;
  border-radius: 4px;
}

.button_group:not(:disabled) {
  cursor: pointer;
}

.button_svg {
  display: inline-block;
  fill: currentColor;
  font-size: 21px;
  height: 1em;
  margin-right: 5px;
  width: 1em;
}
