.input_group {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
}

.input_group .input_area {
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  padding: 16px 13px 13px;
  width: 200px;
}

.input_group .input_area:valid + .input_label,
.input_group .input_area:focus + .input_label {
  background: repeating-linear-gradient(
    transparent,
    transparent 20%,
    #fff 50%,
    transparent 80%,
    transparent 100%
  ) !important;
  border-radius: 100%;
  color: #555;
  font-size: 13px;
  padding: 10px 5px;
  top: -18px;
}

.input_group .input_area:focus {
  border: 2px solid #1979a9;
}

.input_group .input_area:focus + .input_label {
  color: #1979a9;
}

.input_group .input_label {
  background: #fff;
  color: #8d8d8d;
  left: 13px;
  position: absolute;
  top: 13px;
  transition: 0.1s;
}

.input_group .input_area:-webkit-autofill + .input_label {
  background: #e8f0fe;
}

.input_group .input_helper {
  display: none;
  font-size: 12px;
  margin: 0;
  text-align: left;
}

/* When error happens, add the class .input_error with .input_area */
.input_group .input_error {
  border: 2px solid red !important;
}

.input_group .input_error + .input_label {
  color: red !important;
}

.input_group .input_error + .input_label + .input_helper {
  color: red;
  display: block;
}
