.select_group {
  border: 0;
  border-radius: 5px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 40px 0;
  position: relative;
  width: 100%;
}

.select_group:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  content: "";
  height: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 22px;
  width: 0;
}
.select_group .select_text {
  appearance: none;
  background: linear-gradient(#fff, #bbb);
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: 18px;
  outline: none;
  padding: 12px 15px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

.select_group .select_field {
  border: 1px solid #dadce0;
  border-radius: 5px;
  bottom: 0;
  height: 43px;
  left: -3px;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.select_group .select_field .select_legend {
  color: #8d8d8d;
  font-size: 17px;
  font-weight: normal;
  left: 10px;
  position: absolute;
  pointer-events: none;
  top: 9px;
  transition: 0.2s ease all;
}

.select_group .select_text:valid + .select_field {
  height: 53px;
}

.select_group .select_text:focus + .select_field {
  border: 2px solid #1979a9;
  height: 51px;
}

.select_group .select_text:valid + .select_field .select_legend,
.select_group .select_text:focus + .select_field .select_legend {
  font-size: 13px;
  margin-left: 8px;
  margin-right: auto;
  padding: 0 5px;
  position: initial;
}

.select_group .select_text:focus + .select_field .select_legend {
  color: #1979a9;
}
