.bootstrap-table {
  margin-bottom: 50px;
}

.table_group tbody {
  background-color: white;
}

.table_group thead tr {
  background-color: #a4d000;
}

.table_group tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}

.glyphicon-export:before {
  content: "\f019";
}

input + .export {
  display: none;
}

.export li {
  padding: 2px 10px;
}

.export li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
