.history_header {
  display: flex;
  justify-content: space-evenly;
}

.history_button {
  background: #a4d000;
  padding: 8px;
  width: 100px;
}

p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
