.control_header {
  display: flex;
  justify-content: space-evenly;
}

.control_button {
  background: #a4d000;
  padding: 8px;
  width: 100px;
}

.control_loading {
  height: 40px !important;
  margin: 20px;
  width: 40px !important;
}

.control_name_td {
  max-width: 90px;
}

.control_name_span {
  word-break: break-all;
}

.control_setting {
  background: none;
  border-radius: 100px;
  min-width: 0;
  padding: 5px;
}

.control_setting:focus {
  border-radius: 100px;
}

.control_svg {
  color: #1979a9;
  margin: 0;
}

.control_online {
  margin: 0;
}

.control_check {
  z-index: 1400;
}

.control_check_box {
  min-width: 250px;
  min-height: 50px;
}

.control_form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.control_text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 15px;
  min-width: 50px;
}

p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
